*{
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 131, 255);
}
header{
    padding-top: 30px;
    font-size: 1.5em;
    text-align: center;
}
footer{
    text-align: center;
}
#container {
    background-color: white;
    color: black;
    width: 600px;
    height: 350px;
    margin: 20px auto 10px auto;
    box-shadow: 10px 10px 6px -6px rgba(0,0,0,0.52);
    border-radius: 5px;
}

#form {
    padding: 30px 0px 20px 50px;
}
#numero {
    text-align: justify;
}

#select{
    width: 190px;
    margin-left: 50px;
}

#resultado{
    padding: 30px 0px 20px 50px;
}